body{
    background-color:black;
    font-family:"Times New Roman";
  }
  h1{
    color:lime;
    font-family:"Times New Roman";
    font-size:50px;
  }
  p{
    color:green;
    font-family:"Times New Roman";
    font-style:italic;
    font-size:20px;
  }
  img{
    padding:20px;
  }
  
  .quotes{
    background-color:purple;
    width:33%;
    margin-right:auto;
    margin-left:auto;
    border-color:white;
    border-style:solid;
    border-radius:5px;
    margin-top:20px;
    padding:20px;
    heght:auto;
    color:white;
  }
  .quotes{
    font-size:30px;
  }
  .author{
    font-size:20px;
    font-style:italic;
  }